.list-item-cell {
  border: 1px solid #555;
  font-size: 28px;
  
}

.list-item-title {
  width: 80%;
  padding-left: 10px;
}

.list-item-box{
  
}

.delete-button{
    background-color: red;
    color: black;
}
